<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Meter Image Capturing - Sign In</title>

		<!-- Favicon -->
		<!--<link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="static/images/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="static/images/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="static/images/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">-->
		<!-- -->

		<!-- Favicon -->
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicomatic/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicomatic/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicomatic/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicomatic/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicomatic/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicomatic/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicomatic/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicomatic/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
		<!-- -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="static/styles/signin.css" rel="stylesheet">
	</head>
	<body>
		<form class="form-signin text-center" action="" method="post">
			<div class="container">
				<div class="child">
					<!--<img id="mic_logo" class="mb-4" src="static/images/logo-transparent.png" alt="mic logo" width="185" height="185" hspace="50">
					<img id="pds_logo" class="mb-4" src="static/images/pds_logo.png" alt="pds logo" height="120" vspace="25">-->
					<img src="static/images/mic_pds_combined_logos.png" height="185">
				</div>
			</div>
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<label for="textEmail" class="sr-only">Email address</label>
			<input type="email" id="textEmail" class="form-control" placeholder="Email address" required autofocus autocomplete="on">
			<label for="textPassword" class="sr-only">Password</label>
			<input type="password" id="textPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button>
			<br>
			<a href='https://play.google.com/store/apps/details?id=com.slotmachine.ocr.mic&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' height="80"/></a>
		</form>

		<!-- Progress bar -->
		<script src='static/nprogress.js'></script>
		<link rel='stylesheet' href='static/styles/nprogress.css'/>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="static/signin.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>