<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Upload File</title>

		<!-- Favicon -->
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicomatic/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicomatic/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicomatic/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicomatic/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicomatic/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicomatic/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicomatic/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicomatic/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="static/images/favicomatic/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
		<!-- -->

		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-firestore.js"></script>

		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link href="static/styles/sticky-footer.css" rel="stylesheet">
	</head>
	<body>
		
		<!-- Navigation bar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand">
				<img src="static/images/logo-transparent.png" width="50" height="50" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Meter Image Capturing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/account">My Account</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/upload">Upload</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://capturemeters.com/" target="_blank">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- end nav bar -->

		<!-- Main page content -->
		<div class="jumbotron">
			<h2 class="display-6">Upload CSV File</h2>
			<hr class="my-4">
			<p>MiC now supports CSV file uploads for easier management of progressive scans.<br>
			To get started create a .csv file with the following column headers:
			<ul>
				<li><b>location</b></li>
				<li><b>machine_id</b> - no two rows in your .csv should include the same machine_id</li>
				<li><b>description</b></li>
				<li><b>progressive_count</b> (optional, between 1 and 10)</li>
				<li><b>user</b> (optional)</li>
				<li><b>p_1</b>, <b>p_2</b>, <b>p_3</b>, <b>p_4</b>, <b>p_5</b>, <b>p_6</b>, <b>p_7</b>, <b>p_8</b>, <b>p_9</b>, <b>p_10</b> (optional)</li>
			</ul>
			You can view a sample file <a href="https://raw.githubusercontent.com/alexanderjpowell/mic-flask-app/master/sample_number.csv" target="_blank">here</a>, <a href="https://raw.githubusercontent.com/alexanderjpowell/mic-flask-app/master/sample_descriptions.csv" target="_blank">here</a>, <a href="https://raw.githubusercontent.com/alexanderjpowell/mic-flask-app/master/sample_descriptions_with_users.csv" target="_blank">here</a>, and <a href="https://raw.githubusercontent.com/alexanderjpowell/mic-flask-app/master/sample_descriptions_10_progressives.csv" target="_blank">here</a>.
			</p>
			<hr class="my-4">
			<form action="/upload" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input type="file" name="file" class="form-control-file"/>
					<br>
					<input type="submit" class="btn btn-secondary"/>
				</div>
			</form>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == 'success' %}
							<div class="alert alert-success" role="alert">
								{{ message }}
							</div>
						{% elif category == 'error' %}
							<div class="alert alert-danger" role="alert">
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
		<!-- -->

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<span class="text-muted">Meter Image Capturing</span>
				<span class="text">2019</span>
			</div>
		</footer>
		<!-- -->

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>













